@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&family=PT+Serif&family=Poppins:wght@300;400;700&family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Syne:wght@400;500;700;800&family=Ubuntu:wght@400;700&display=swap");
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #0070f3;
}

[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
  --primary-color: #00aaff;
}
.image {
  width: 35rem;
  --webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 28rem;
  background-repeat: no-repeat;
  background-image: url("../../public/images/pratik.jpeg");
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  border: 3px solid #2d2e32;
}
.font-syne {
  font-family: "Syne", sans-serif;
}
.ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.poppins {
    font-family: Poppins, sans-serif;
}
.manrope {
  line-height: 24.6px;
}
.mulish {
  /* font-family: 'Mulish', sans-serif; */
  /* font-family: 'PT Sans', sans-serif; */
  /* /* font-family: 'Poppins', sans-serif; */
  line-height: 24px;
}

@media screen and (max-width: 850px) {
  .image {
    width: 30rem;
    height: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .image {
    width: 24rem;
    height: 20rem;
  }
}
@media screen and (max-width: 500px) {
  .image {
    width: 22rem;
    height: 18rem;
  }
}
@media screen and (max-width: 400px) {
  .image {
    width: 18rem;
    height: 18rem;
  }
}
@media screen and (max-width: 300px) {
  .image {
    width: 15rem;
    height: 16rem;
  }
}
@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.svg {
  fill: currentColor;
  height: auto;
  transform-origin: center;
  width: 32%;
  position: absolute;
  top: 17rem;
  right: -1rem;
  background-color: white;
  border-radius: 50%;
  animation: rotate 15s linear infinite;
}
.rotate {
  color: green;
}
@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
